body{
	background:#e4f2f7;
}
h2{
	color:#332e35;
	text-align:center;
	font-size:70px;
	font-size:4vw;
	font-family: 'utsaahbold';
}
a{text-decoration:none;}
p{
	font-family: 'utsaahregular';
	font-size:24px;
}
ul, li, li{
	list-style:none;
	margin:0;
	padding:0;
}
.clear{
	clear:both;
}

/*Mobile break point*/
@media only screen and (max-width: 599px){
	h2{
		font-size:7vw;
	}
}