.main-wrapper{
	width:90%;
	//width: 1920px;
	margin: 0 auto;
	padding:0 5%;
}


@mixin vertical-align($intro-vertical-align) {
	$negative-align : unquote('-'+ $intro-vertical-align);
  	position: relative;
  	top: $intro-vertical-align;
  	-webkit-transform: translateY($negative-align);
  	-ms-transform: translateY($negative-align);
  	transform: translateY($negative-align);
}