$logoDimensions: 16%;
.brands{
	.vertical-align{
		@include vertical-align(40%);
    	left: 3.5%;
	}
	ol{
		margin:0;
		padding:0;
	}
	.logo-client{
		display:inline-block;
		height: $logoDimensions;
		width: $logoDimensions;
		img{
			width:35%;
			margin:0 35%;
			vertical-align:middle;
		}
	}
}
/*Mobile break point*/
@media only screen and (max-width: 599px){
	.brands{
		.vertical-align{transform:none;}
		.logo-client{
			width: 30%;
			margin-bottom:50px;
			img{width: 60%;}
		}
	}
}
/*Small tablet break point*/
@media only screen and (min-width: 600px) and (max-width: 767px){
	.brands{
		.logo-client{
			width: 25%;
			img{width: 55%;}
		}
	}
}
/*Big tablet break point*/
@media only screen and (min-width: 768px) and (max-width: 999px){
	.brands{
		.logo-client{
			width: 20%;
			img{width: 40%;}
		}
	}
}