.communities{
	.vertical-align{
		@include vertical-align(50%);
	}
	.social-icon{
		display:inline-block;
		width:22%;
		margin: 0 2.5% 0 0;
		img{width:100%;}
	}
	p{
		text-align: justify;
		font-family: 'utsaahbold';
		font-size: 2.6vw;
		width:80%;
		margin: 0 auto 1em;
	}
	ul{
		margin: 0 auto;
	 	width: 90%;
	}
}
/*Mobile break point*/
@media only screen and (max-width: 599px){
	.communities{
		padding: 100px 0;
		.vertical-align{
			transform:none;
		}
		.social-icon{
			width: 100%;
			img{width: 100%;}
		}
		p{font-size:5vw;}
	}
}
/*Small tablet break point*/
@media only screen and (min-width: 600px) and (max-width: 767px){
	.communities{
		.social-icon{
			width: 60%;
			img{width: 60%;}
		}
	}
}
/*Big tablet break point*/
@media only screen and (min-width: 768px) and (max-width: 999px){
	.communities{
		.social-icon{
			width: 40%;
			img{width: 60%;}
		}
	}
}