.contact{
    h2{color:#000;}
  	.vertical-align{
		@include vertical-align(50%);
        top:330px;
		width: 50%;
		margin: 0 auto;
		padding: 3%;
		position: relative;
		@include light-alpha-background();
    }
	p{
		text-align: center;
  		width: 45%;
  		margin: 0 auto 100px;
  		line-height: 1.5em;
  		font-size: 1.5vw;
	}

	.contact-info{
		@include vertical-align(50%);
		margin: 0 auto 270px;
		clear: both;
        color:#332e35;
        font-weight: bold;
		address{
			width:60%;
			text-align: center;
			margin: 0 auto;
  			line-height: 1.5em;
  			font-size: 1.5vw;
  			font-style:normal;
            font-weight: bold;
		}
		p{
			width:60%;
			text-align: center;
			margin: 0 auto;
		}
		a{
          font-family: 'Avenir';
          color:#332e35;
          font-weight: bold;
        }
	}

	.address-icon{
		background: url("../images/contact_pin.svg") no-repeat scroll 0 0 transparent;
		width: 65px;
		height: 65px;
		display:inline-block;
		margin: 0 40% 25px;
	}
	.contact-icon{
		background: url("../images/contact_door.svg") no-repeat scroll 0 0 transparent;
		width: 65px;
		height: 65px;
		display:inline-block;
		margin: 0 40% 25px;
	}
	.contact-element{
		width:50%;
		float: left;
		span, address{
			font-family: 'Avenir';
            font-weight: bold;
		}
	}

	.contact-us{
		font-size: 20px;
		font-family: 'Avenir';
		font-weight: bold;
        color:#332e35;
        font-weight: bold;
		padding: 17px 40px;
		display: table-cell;
	}
	.social-icons{
		width: 204px;
		margin: 0 auto;
		clear:both;
		a{
			width: 65px;
			height: 61px;
			display:inline-block;
		}
		li{
			display:inline-block;
		}
		.facebook{
			background: url("../images/nav_fa_color.svg") no-repeat scroll 0 0 transparent;
		}
		.linkedin{
			background: url("../images/nav_in_color.svg") no-repeat scroll 0 0 transparent;
		}
		.twitter{
			background: url("../images/nav_tw_color.svg") no-repeat scroll 0 0 transparent;
		}
	}

}