.intro{
	background:#f83a00;
	color:#FFF;
	.vertical-align{
		@include vertical-align(50%);
	}
	p{
		@include vertical-align(40%);
		text-align: justify;
		font-family: 'utsaahbold';
		font-size: 2.6vw;
	}
}


/*Mobile break point*/
@media only screen and (max-width: 599px){
	.intro{
		p{
			font-size: 5.6vw;
    		width: 80%;
    		margin: 0 auto;
		}
	}
}