.intro{
	color:#FFF;
    .poster-bg{top:90px;}
	.vertical-align{
		@include vertical-align(10%);
	}
	p{
        font-family: 'open_sanssemibold';
		text-align: justify;
		font-size: 1.46vw;
	}
}
/*Mobile break point*/
@media only screen and (max-width: 599px){
	.intro{
		p{
			font-size: 5.6vw;
    		width: 80%;
    		margin: 0 auto;
		}
	}
}