$teamMemberDimension: 12%;
.team{
	h2{width: 91.5%;}
	.vertical-align{
		@include vertical-align(40%);
		margin: 0 auto;
    	width: 90%;
    	left: 3.5%;
	}
	.team-container{
		margin:0;
		padding:0;
	}
	.back{margin-top: 10%;}
	.team-member{
		display:inline-block;
		width:$teamMemberDimension;
		position:relative;
		margin-bottom: 0.5%;
		height: 160px;
		text-align:center;
		cursor: pointer;
		h3{font-size:1vw;}
		p{font-size:1vw;}
		img{
			width:50%;
			margin: 0 12.5%;
			vertical-align:middle;
		}
		.certified{
			background-size: 100%;
			width: 30%;
			height: 20%;
			display: inline-block;
			bottom: 0;
			position: absolute;
			z-index: 100;
			left: 14%;
			&.adobe{background: url("../images/certified_expert.png") no-repeat scroll 0 50% transparent;}
		}
	}
}

/*Mobile break point*/
@media only screen and (max-width: 599px){
	.team{
		.card{border:4px solid #D3D3D3;}
		.team-member{
			width: 47.5%;
			h3{font-size: 2.9vw;}
			p{font-size: 2.4vw;}
			img{width: 56.99%;}
			margin-top:13px;
			margin-bottom:13px;
		}

	}
}
/*Small tablet break point*/
@media only screen and (min-width: 600px) and (max-width: 767px){
 	.team{
 		.card{border:3px solid #D3D3D3;}
 		.team-member{
 			width:30%;
 			h3{font-size: 2.9vw;}
			p{font-size: 2.4vw;}
			img{width:57.5%;}
			margin-top:40px;
			margin-bottom:40px;
 		}
 	}	
}
/*Big tablet break point*/
@media only screen and (min-width: 768px) and (max-width: 999px){
	.team{
		.card{border:2px solid #D3D3D3;}
		.team-member{
			width:20%;
			h3{font-size:1.9vw;}
			p{font-size:1.9vw;}
			img{width:60%;}
			margin-top:20px;
			margin-bottom:20px;
		}
	}
}