/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@font-face {
  font-family: 'utsaahregular';
  src: url("../fonts/utsaah-webfont.eot");
  src: url("../fonts/utsaah-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/utsaah-webfont.woff2") format("woff2"), url("../fonts/utsaah-webfont.woff") format("woff"), url("../fonts/utsaah-webfont.ttf") format("truetype"), url("../fonts/utsaah-webfont.svg#utsaahregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'utsaahbold';
  src: url("../fonts/utsaahb-webfont.eot");
  src: url("../fonts/utsaahb-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/utsaahb-webfont.woff2") format("woff2"), url("../fonts/utsaahb-webfont.woff") format("woff"), url("../fonts/utsaahb-webfont.ttf") format("truetype"), url("../fonts/utsaahb-webfont.svg#utsaahbold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'flamathin';
  src: url("../fonts/flama-thin-webfont-webfont.eot");
  src: url("../fonts/flama-thin-webfont-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/flama-thin-webfont-webfont.woff2") format("woff2"), url("../fonts/flama-thin-webfont-webfont.woff") format("woff"), url("../fonts/flama-thin-webfont-webfont.ttf") format("truetype"), url("../fonts/flama-thin-webfont-webfont.svg#flamathin") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 1, ../sass/components/global/_elements.scss */
body {
  background: #e4f2f7;
}

/* line 4, ../sass/components/global/_elements.scss */
h2 {
  color: #332e35;
  text-align: center;
  font-size: 70px;
  font-size: 4vw;
  font-family: 'utsaahbold';
}

/* line 11, ../sass/components/global/_elements.scss */
a {
  text-decoration: none;
}

/* line 12, ../sass/components/global/_elements.scss */
p {
  font-family: 'utsaahregular';
  font-size: 24px;
}

/* line 16, ../sass/components/global/_elements.scss */
ul, li, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 21, ../sass/components/global/_elements.scss */
.clear {
  clear: both;
}

/* line 1, ../sass/components/global/_layout.scss */
.main-wrapper {
  width: 90%;
  margin: 0 auto;
  padding: 0 5%;
}

/* line 1, ../sass/components/global/_header.scss */
.main-header {
  height: 80px;
  padding-top: 10px;
  position: fixed;
  top: 0;
  background: #FFF;
  z-index: 1000;
}
/* line 9, ../sass/components/global/_header.scss */
.main-header .main-logo img {
  width: 130px;
}
/* line 11, ../sass/components/global/_header.scss */
.main-header .nav-icon {
  float: right;
  background: url("../images/nav_close.svg") no-repeat scroll 0 0 transparent;
  width: 20px;
  height: 20px;
  margin: 28px 0 0 0;
  cursor: pointer;
}
/* line 19, ../sass/components/global/_header.scss */
.main-header .nav-container {
  display: none;
  background: #000;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
/* line 29, ../sass/components/global/_header.scss */
.main-header .nav-container a {
  color: #FFF;
}
/* line 31, ../sass/components/global/_header.scss */
.main-header .main-nav {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  right: 5%;
  text-align: right;
  font-size: 3.5vw;
  font-family: 'flamathin';
}
/* line 40, ../sass/components/global/_header.scss */
.main-header .main-nav li {
  margin-top: 0.5em;
}
/* line 42, ../sass/components/global/_header.scss */
.main-header .social-icons {
  right: 5%;
  position: absolute;
  bottom: 0;
}
/* line 46, ../sass/components/global/_header.scss */
.main-header .social-icons a {
  width: 65px;
  height: 65px;
  display: inline-block;
}
/* line 51, ../sass/components/global/_header.scss */
.main-header .social-icons li {
  display: inline-block;
}
/* line 54, ../sass/components/global/_header.scss */
.main-header .social-icons .facebook {
  background: url("../images/nav_fa_color.svg") no-repeat scroll 0 0 transparent;
}
/* line 57, ../sass/components/global/_header.scss */
.main-header .social-icons .linkedin {
  background: url("../images/nav_in_color.svg") no-repeat scroll 0 0 transparent;
}
/* line 60, ../sass/components/global/_header.scss */
.main-header .social-icons .twitter {
  background: url("../images/nav_tw_color.svg") no-repeat scroll 0 0 transparent;
}

/* line 66, ../sass/components/global/_header.scss */
.nav-indicator {
  position: fixed;
  right: 2%;
  top: 50%;
}
/* line 70, ../sass/components/global/_header.scss */
.nav-indicator .nav-dot {
  width: 20px;
  height: 20px;
  background: url("../images/indicator_inactive.svg") no-repeat scroll 0 0 transparent;
}
/* line 74, ../sass/components/global/_header.scss */
.nav-indicator .nav-dot.active {
  background: url("../images/indicator_active.svg") no-repeat scroll 0 0 transparent;
}
/* line 76, ../sass/components/global/_header.scss */
.nav-indicator .nav-dot.active.dark {
  background: url("../images/indicator_active_dark.svg") no-repeat scroll 0 0 transparent;
}

/* line 1, ../sass/components/global/_content.scss */
.main-content {
  margin-top: 90px;
}

/* line 1, ../sass/components/global/_footer.scss */
.main-footer {
  position: fixed;
  height: 63px;
  bottom: 0;
  background: #FFF;
  padding-top: 27px;
}
/* line 7, ../sass/components/global/_footer.scss */
.main-footer .made-in-logo {
  float: right;
}

/* line 1, ../sass/components/content/_intro.scss */
.intro {
  background: #f83a00;
  color: #FFF;
}
/* line 4, ../sass/components/content/_intro.scss */
.intro .vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 7, ../sass/components/content/_intro.scss */
.intro p {
  position: relative;
  top: 40%;
  -webkit-transform: translateY(-40%);
  -ms-transform: translateY(-40%);
  transform: translateY(-40%);
  text-align: justify;
  font-family: 'utsaahbold';
  font-size: 2.6vw;
}

/* line 2, ../sass/components/content/_brands.scss */
.brands .vertical-align {
  position: relative;
  top: 40%;
  -webkit-transform: translateY(-40%);
  -ms-transform: translateY(-40%);
  transform: translateY(-40%);
  left: 3.5%;
}
/* line 6, ../sass/components/content/_brands.scss */
.brands ol {
  display: table;
  margin: 0;
  padding: 0;
}
/* line 12, ../sass/components/content/_brands.scss */
.brands .logo-client {
  display: inline-block;
  height: 16%;
  width: 16%;
}
/* line 16, ../sass/components/content/_brands.scss */
.brands .logo-client img {
  width: 35%;
  margin: 0 35%;
  vertical-align: middle;
}

/* line 2, ../sass/components/content/_team.scss */
.team h2 {
  width: 91.5%;
}
/* line 3, ../sass/components/content/_team.scss */
.team .vertical-align {
  position: relative;
  top: 40%;
  -webkit-transform: translateY(-40%);
  -ms-transform: translateY(-40%);
  transform: translateY(-40%);
  margin: 0 auto;
  width: 90%;
  left: 3.5%;
}
/* line 9, ../sass/components/content/_team.scss */
.team .team-container {
  margin: 0;
  padding: 0;
}
/* line 14, ../sass/components/content/_team.scss */
.team .back {
  margin-top: 10%;
}
/* line 17, ../sass/components/content/_team.scss */
.team .team-member {
  display: inline-block;
  width: 16%;
  position: relative;
  margin-bottom: 0.5%;
  height: 160px;
  text-align: center;
  cursor: pointer;
}
/* line 25, ../sass/components/content/_team.scss */
.team .team-member h3 {
  font-size: 1vw;
}
/* line 26, ../sass/components/content/_team.scss */
.team .team-member p {
  font-size: 1vw;
}
/* line 27, ../sass/components/content/_team.scss */
.team .team-member img {
  width: 55%;
  margin: 0 12.5%;
  vertical-align: middle;
}
/* line 32, ../sass/components/content/_team.scss */
.team .team-member .certified {
  background-size: 100%;
  width: 30%;
  height: 20%;
  display: inline-block;
  bottom: 0;
  position: absolute;
  z-index: 100;
  left: 14%;
}
/* line 41, ../sass/components/content/_team.scss */
.team .team-member .certified.adobe {
  background: url("../images/certified_expert.png") no-repeat scroll 0 50% transparent;
}

/* line 2, ../sass/components/content/_communities.scss */
.communities .vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 5, ../sass/components/content/_communities.scss */
.communities .social-icon {
  display: inline-block;
  width: 22%;
  margin: 0 2.5% 0 0;
}
/* line 9, ../sass/components/content/_communities.scss */
.communities .social-icon img {
  width: 100%;
}
/* line 11, ../sass/components/content/_communities.scss */
.communities p {
  text-align: justify;
  font-family: 'utsaahbold';
  font-size: 2.6vw;
  width: 80%;
  margin: 0 auto 1em;
}
/* line 18, ../sass/components/content/_communities.scss */
.communities ul {
  margin: 0 auto;
  width: 90%;
}

/* line 1, ../sass/components/content/_contact.scss */
.contact {
  background: url("../images/content/contact/contact-bg.jpg") no-repeat center -90px fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/content/contact/contact-bg.jpg', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/content/contact/contact-bg.jpg', sizingMethod='scale')";
}
/* line 9, ../sass/components/content/_contact.scss */
.contact .vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 50%;
  margin: 0 auto;
  padding: 3%;
  position: relative;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjgiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjgiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.8)), color-stop(100%, rgba(255, 255, 255, 0.8)));
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 100%);
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 100%);
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccffffff', endColorstr='#ccffffff',GradientType=0 );
}
/* line 24, ../sass/components/content/_contact.scss */
.contact p {
  text-align: center;
  width: 45%;
  margin: 0 auto 100px;
  line-height: 1.5em;
  font-size: 1.5vw;
}
/* line 32, ../sass/components/content/_contact.scss */
.contact .contact-info {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin: 0 auto 270px;
  clear: both;
}
/* line 36, ../sass/components/content/_contact.scss */
.contact .contact-info address {
  width: 60%;
  text-align: center;
  margin: 0 auto;
  line-height: 1.5em;
  font-size: 1.5vw;
  font-style: normal;
}
/* line 44, ../sass/components/content/_contact.scss */
.contact .contact-info p {
  width: 60%;
  text-align: center;
  margin: 0 auto;
}
/* line 49, ../sass/components/content/_contact.scss */
.contact .contact-info a {
  color: #000;
  font-family: 'Avenir';
}
/* line 55, ../sass/components/content/_contact.scss */
.contact .address-icon {
  background: url("../images/contact_pin.svg") no-repeat scroll 0 0 transparent;
  width: 65px;
  height: 65px;
  display: inline-block;
  margin: 0 40% 25px;
}
/* line 62, ../sass/components/content/_contact.scss */
.contact .contact-icon {
  background: url("../images/contact_door.svg") no-repeat scroll 0 0 transparent;
  width: 65px;
  height: 65px;
  display: inline-block;
  margin: 0 40% 25px;
}
/* line 69, ../sass/components/content/_contact.scss */
.contact .contact-element {
  width: 50%;
  float: left;
}
/* line 72, ../sass/components/content/_contact.scss */
.contact .contact-element span, .contact .contact-element address {
  font-family: 'Avenir';
}
/* line 77, ../sass/components/content/_contact.scss */
.contact .contact-us {
  font-size: 20px;
  font-family: 'Avenir';
  font-weight: bold;
  padding: 17px 40px;
  display: table-cell;
}
/* line 84, ../sass/components/content/_contact.scss */
.contact .social-icons {
  width: 204px;
  margin: 0 auto;
  clear: both;
}
/* line 88, ../sass/components/content/_contact.scss */
.contact .social-icons a {
  width: 65px;
  height: 61px;
  display: inline-block;
}
/* line 93, ../sass/components/content/_contact.scss */
.contact .social-icons li {
  display: inline-block;
}
/* line 96, ../sass/components/content/_contact.scss */
.contact .social-icons .facebook {
  background: url("../images/nav_fa_color.svg") no-repeat scroll 0 0 transparent;
}
/* line 99, ../sass/components/content/_contact.scss */
.contact .social-icons .linkedin {
  background: url("../images/nav_in_color.svg") no-repeat scroll 0 0 transparent;
}
/* line 102, ../sass/components/content/_contact.scss */
.contact .social-icons .twitter {
  background: url("../images/nav_tw_color.svg") no-repeat scroll 0 0 transparent;
}
